AUTH_SQLITE_PATH=./auth.db
AUTH_GMAIL_USERNAME=you@gmail.com
AUTH_GMAIL_PASSWORD=your-gmail-app-password
AUTH_EASYSEND_SMS_API_KEY=your-easysend-api-key
AUTH_EASYSEND_SMS_SENDER_ID=your-sender-id
AUTH_JWT_PRIVATE_KEY_PATH=../../secrets/jwt_private.pem
AUTH_JWT_PUBLIC_KEY_PATH=../../secrets/jwt_public.pem
